In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [5]:
df1 = pd.read_csv('C:/Users/CeX-Laguna/Downloads/df_final_web_data_pt_1.txt')

In [6]:
df2 = pd.read_csv('C:/Users/CeX-Laguna/Downloads/df_final_web_data_pt_2.txt')

In [8]:
df1.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [9]:
df2.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [10]:
df_web_data = pd.concat([df1, df2], axis=0)

In [11]:
df_web_data

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

### SUBIR EL ARCHIVO DEMO PARA EMPEZAR A TRABAJAR CON EL
##### LEYENDA
##### CLIENT_ID = IDENTIFICACION DEL CLIENTE
##### CLNT_TENURE_YEAR = CUANTO TIEMPO HA ESTADO EL CLIENTE EN AÑOS
##### CLNT_TENURE_MNTH = """""""""" EN MESES
##### NUM_ACCTS = NUMERO DE CUENTAS EN VANGUAR
##### BAL = SALDO TOTAL DISTRIBUIDO ENTRE CUENTAS

In [ ]:
demo = pd.read_csv("CSV/df_final_demo.txt", low_memory=False)

In [13]:
demo.columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [14]:
frequency_gendr = demo['gendr'].value_counts()
frequency_gendr

gendr
U    24122
M    23724
F    22746
X        3
Name: count, dtype: int64

In [ ]:
frequency_table2.plot.pie(autopct='%1.1f%%', startangle=90, colors=sns.color_palette("Set3"))